{% extends 'base.html' %}
{% block content %}

<!-- <center> <h1>Iconic Kicks</h1> </center>
<center> <h4>...that every sneakerhead should know about...</h4> </center> -->

{% for icon in icons %}
  <div class="card">
      <!-- when user card is clicked, it will take you to the user's profile page -->
      <a href="/users/{{ user.id }}">
        <div class="card-content">
            <span class="card-title">{{ user.name }}</span>
            <p>{{ user.location }}</p>
            <p>Favorite Sneaker: {{ user.favorite }}</p>
        </div>
      </a>
  </div>
{% endfor %}

{% endblock %}