<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
        <center> <h1>About SneakerHead</h1> </center>
        <hr>
        <h5>
            ...a collection, is a collection, is a collection...
            <br>
            <br>
            What every Sneakerhead should know, right here!
            <br>
            <br>
            All Rights Reserved, &copy; 2023 SneakerHead
        </h5>
        
    {% endblock %}

</body>
</html>