body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-position: fixed;
}

body {
    background-image: url("../images/sneakerart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

main {
    flex: 1 0 auto;
}

h1 {
    background-color: rgba(253, 253, 253, 0.61);
    padding: 10px;
}

h4 {
    color: white;
    background-color: rgba(10, 9, 9, 0.459);;
}

h5 {
    background-color: rgba(253, 253, 253, 0.61);
    padding: 10px;
    text-align: center;
}

nav {
    background-color: rgba(10, 9, 9, 0.459);
}

hr {
    height: 2px;
    background-color: black;
}

div .card-content {
    font-weight: bold;
    color: black;
}

form {
    background-color: rgba(253, 253, 253, 0.807);
}

footer.page-footer {
    background-color: rgba(10, 9, 9, 0.459);
    padding-top: 5px;
    text-align: right;
}

.card {
    background-color: rgba(253, 253, 253, 0.61);
    color: black;
}

.btn {
    background-color: rgba(10, 9, 9, 0.459);
    color: white;
}

.btn:hover {
    background-color: rgba(253, 253, 253, 0.61);
    color: black;
}

div.card-action {
    color: black;
}
