{% extends 'base.html' %}
{% block content %}

<center> <h1>Your Sneakers</h1> </center>

{% for user_sneaker in user_sneakers %}
  <div class="card">
      <!-- when sneaker card is clicked, it will take you to the sneaker's detail page -->
      <a href="/user_sneakers/{{ user_sneaker.id }}">
        <div class="card-content">
            <span class="card-title">{{ user_sneaker.sneaker }}</span>
            <p>Debut Year: {{ user_sneaker.debut_year }}</p>
            <p>Price: {{ user_sneaker.price }}</p>
        </div>
      </a>
  </div>
{% endfor %}

{% endblock %}


<!-- to be included on sneaker detail page when clicked - 
add to what is already on the card plus what is below:
  <p>Sneaker Type: {{ user_sneaker.type }}</p>
  <p>Description: {{ user_sneaker.description }}</p> -->