{% extends 'base.html' %}
{% block content %}

<center> <h1>Sneaker Details</h1> </center>

<div class="card">
  <div class="card-content">
        <span class="card-title" "blue-text">{{ user_sneaker.sneaker }}</span>
        <p>Sneaker Type: {{ user_sneaker.sneaker_type }}</p>
        <p>Description: {{ user_sneaker.description | linebreaks }}</p>
        <p>Debut Year: {{ user_sneaker.debut_year }}</p>
        <p>Price: {{ user_sneaker.price }}</p>
  </div>
  <!-- update and delete -->
  <div class="card-action">
    <a href="{% url 'sneaker_update' user_sneaker.id %}">Edit</a>
    <a href="{% url 'sneaker_delete' user_sneaker.id %}">Delete</a>
  </div>
</div>

{% endblock %}