{% extends 'base.html' %}
{% block content %}

<h1>Sneaker Details</h1>

<div class="card">
  <div class="card-content">
        <span class="card-title">{{ user_sneaker.sneaker }}</span>
        <p>Sneaker Type: {{ user_sneaker.type }}</p>
        <p>Description: {{ user_sneaker.description | linebreaks }}</p>
        <p>Debut Year: {{ user_sneaker.debut }}</p>
        <p>Price: {{ user_sneaker.price }}</p>
  </div>
  <!-- update and delete -->
  <div class="card-action">
    <a href="{% url 'user_update' user_sneaker.id %}">Edit</a>
    <a href="{% url 'user_delete' user_sneaker.id %}">Delete</a>
  </div>
</div>

{% endblock %}